*{
    margin: 0;
    padding: 0;
}
span{
    text-decoration: none;
}
img{
    max-width:100%;
}
.header{
    display: flex;
    background-color: #222;
    padding-top: 22px;
    padding-bottom: 22px;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

}
.main_view{
    display: flex;
    padding-top: 22px;
    padding-bottom: 22px;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 32px;
    background-color: #f0bac1;
}
.main_textblock{
    display: flex;
    padding-top: 22px;
    padding-bottom: 22px;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 32px;
}
.center-header{

    padding-left:calc(50% - 500px);
    padding-right:calc(50% - 500px);
}
.center{

    padding-left:calc(50% - 250px);
    padding-right:calc(50% - 250px);
}
.header_logo{
    display: flex; 
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 32px;
}

.categories{
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
}
.category_item{
    width:360px;
    height:260px;
    position:relative;
}
.accesories{
    position:relative;
    background: rgba(33, 22, 22, 0.70);;
}

.describe{
    width: 500px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    align-content: center;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
.featured{
    color: #222;
    font-family: Lato;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.featured_describe{
    color: #9F9F9F;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.items{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 32px;
    flex-direction: row;
    padding-left: 10%;
    padding-right: 10%;
}
.item{
    display: flex;
    width: 360px;
    height: 420px;
    flex-direction: row;
    justify-content: flex-start;
    padding-bottom: 160px;
    flex-wrap: wrap;
}
.item_name{
    color: #000;
    font-family: Lato;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: left;
    padding-top:16;
    padding-bottom: 16;
    padding-left: 16;
}
.item_describe{
    color: #5D5D5D;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    padding-bottom: 16;
    padding-left: 16;
}
.item_price{
    color: #F16D7F;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 16;
    padding-top: 16;
}
.problem_image{
    padding-left: 120;
    padding-bottom: 20;
}
.news{
    color: #FFF;
    text-align: center;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: absolute;
    /* left: 40%;*/
    top: 40%; 
    z-index: 5;
    width:100%;
    text-align: center;
}

.category_name{
    color: #F16D7F;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    position: absolute;
    /* left: 30%;*/
    top: 50%; 
    z-index: 5;
    width:100%;
    text-align: center;
}

.category_item{
    background: rgba(33, 22, 22, 0.70);;
}
.category_picture{
   
     opacity:0.5 
}

.footer{
    padding-top: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

