*{
    margin: 0;
    padding: 0;
}
span{
    text-decoration: none;
}
img{
    max-width:100%;
}
.header{
    display: flex;
    background-color: #222;
    padding-top: 22px;
    padding-bottom: 22px;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

}
.main_view{
    display: flex;
    padding-top: 22px;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 32px;
    background-color: #f0bac1;
}
.main_picture{

}
.main_textblock{
    display: flex;
    padding-top: 22px;
    padding-bottom: 22px;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 18px;
}
.strip{
    
    width:12;
    height:93;
    background-color: #F26376;
}
.main_text{
    font-family: Lato;
    letter-spacing: 0em;
    text-align: left;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
}
.text1{
    width:100%;
    font-size: 48px;
    font-weight: 900;
    line-height: 58px;

}
.text2{
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;

}
.text2::after{
    content: ' FASHION';
    color:#F26376;
}

.center-header{

    padding-left:calc(50% - 500px);
    padding-right:calc(50% - 500px);
}
.center{

    padding-left:calc(50% - 250px);
    padding-right:calc(50% - 250px);
}
.header_logo{
    display: flex; 
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 32px;
}

.categories{
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
}
.category_item{
    width:360px;
    height:260px;
    position:relative;
    background: rgba(18, 12, 12, 0.7);
}
.category_item:hover{
    /* opacity:1; */
     background-color: white; 
     transition:background-color 0.5s;
}


.accesories{
    position:relative;
    background: rgba(18, 12, 12, 0.7);
}

.describe{
    width: 500px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    align-content: center;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
.featured{
    color: #222;
    font-family: Lato;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.featured_describe{
    color: #9F9F9F;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.items{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 32px;
    flex-direction: row;
    padding-left: 10%;
    padding-right: 10%;
}
.item{
    display: flex;
    width: 360px;
    height: 420px;
    flex-direction: row;
    justify-content: flex-start;
    padding-bottom: 160px;
    flex-wrap: wrap;
    position: relative;

}
.shopping{
    display:flex;
    position:absolute;
   width: 100%;
    height:100%;
    opacity:0;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    color:white;
}
/* .shopping:hover{
    opacity:1;
} */
.shade{
    width: 100%;
    height:0%; 
    background: rgba(193, 147, 147, 0.7);
    
}
.shade_top:hover{

    .shopping{
        opacity:1;
        transition: opacity 0.5s;
    }
    .shade{
        height: 100%;
        transition: height 0.5s;
    }

}

.shade_top{
    position:absolute;
    width: 100%;
    height:100%; 
}

.item_name{
    color: #000;
    font-family: Lato;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: left;
    padding-top:16;
    padding-bottom: 16;
    padding-left: 16;
}
.item_describe{
    color: #5D5D5D;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    padding-bottom: 16;
    padding-left: 16;
}
.item_price{
    color: #F16D7F;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 16;
    padding-top: 16;
}
.problem_image{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    padding-bottom: 20;
    width:100%;
}
.news{
    color: #FFF;
    text-align: center;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: absolute;
    top: 40%; 
    z-index: 5;
    width:100%;
    text-align: center;
}
.news:hover{
    z-index:1;
    transition:z-index  0.5s;
}

.category_name{
    color: #F16D7F;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    position: absolute;
    top: 50%; 
    z-index: 5;
    width:100%;
    text-align: center;
}

 .category_picture{
    opacity:0.5;
} 
.category_picture:hover{
     opacity:1;
     transition:opacity 0.5s;
} 

.footer{
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}
.button{
    margin-top:50px;
    margin-bottom: 50px;
    height:50px;
    width:210px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    border: 2px solid #F26376;
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: #F26376;
}

.button:hover{
    background-color: #F26376;
    color:white;
    transition:background-color 0.5s;
}
@media(max-width:1540px){
    .main_view{
        gap:0;
    }
}
@media(max-width:1507px){
    .main_picture{
        width:368;
    }


}
@media(max-width:1143px){
    .categories{
        gap:20px;
    }
    .category_item{
        width:240px;
        height:173px;
    }
}

@media(max-width:1078px){
    .main_textblock{
        width:350;
        flex-wrap: nowrap;
    }
    .text1{
        font-size: 44;
    }
    .text2{
        font-size: 24;
    }
    .items{
        gap:16px;
        padding-left: 16px;
        padding-right: 16px;
    }
    .center-header{

        padding-left:calc(50% - 350px);
        padding-right:calc(50% - 350px);
    }

}
